@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root { --header-font-family: "DM Serif Display", serif;
	--regular-font-family: "Inter", sans-serif;
	--monospace-font-family: "JetBrains Mono", monospace;
	--article-max-width: 40rem;
	--elevated-shadow: 0px 8px 16px 0px var(--shadow);
	--global-content-padding: 0.75rem;
	--global-border-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #36332d;
        --placeholder: #8d877e;
        --text-on-primary: #ffffff;
        --background: #f8f6f0;
        --foreground: #ffffff;
        --primary: #4c433b;
        --secondary: #877f72;
        --accent: #a6532d;
        --shadow: rgba(54, 51, 45, 0.1);
        --valid-primary: #e8f5ef;
        --valid-secondary: #3f765a;
        --invalid-primary: #fae8e6;
        --invalid-secondary: #b2504d;
        --not-safe: #a65300;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #dcd9d4;
        --placeholder: #7c766f;
        --text-on-primary: #111111;
        --background: #121211;
        --foreground: #1e1e1d;
        --primary: #6b6255;
        --secondary: #45413a;
        --accent: #c26e47;
        --shadow: rgba(0, 0, 0, 0.5);
        --valid-primary: #3f765a;
        --valid-secondary: #d7ebe1;
        --invalid-primary: #a14440;
        --invalid-secondary: #f3d1cf;
        --not-safe: #ad5500;
    }
}

/* === BEGIN ARTICLE DEFAULT STYLE === */

article p {
	font-family: var(--regular-font-family) !important;
	font-optical-sizing: auto;
}

article h1,
article h2,
article h3, 
article h4,
article h5,
article h6 {
	font-family: var(--header-font-family) !important;
	font-weight: 400;
	font-style: normal;
}

article h1.article-title {
	font-size: 2.75rem;
	width: 100%;
	text-align: center;
}
article h1 {
	font-size: 2.5rem;
}
article h2 {
	font-size: 2.25rem;
}
article h3 {
	font-size: 2.0rem;
}
article h4 {
	font-size: 1.75rem;
}
article h5 {
	font-size: 1.5rem;
}
article h6 {
	font-size: 1.25rem;
}

article {
	max-width: var(--article-max-width);
	width: 100%;
	margin: 0 var(--global-content-padding);
}

article * {
	max-width: var(--article-max-width);
	word-wrap: break-word;
}

article p {
	width: 100%;
}

article code {
	font-family: var(--monospace-font-family) !important;
}

.article-quote::before {
	content: "";
	position: absolute;
	height: 100%;
	background-color: #3b3b3b;
	top: 0;
	left: 0;
	width: 0.5rem;
}

.article-quote {
	position: relative;
	font-family: var(--regular-font-family);
	font-style: italic;
	background-color: #d9dadb;
	color: #3b3b3b;
	width: fit-content;
	max-width: 100%;
	padding: 1rem;
	padding-left: 2rem !important;
}

/* === END ARTICLE DEFAULT STYLE === */

/* === BEGIN LAYOUTS === */

.page-content, .sidebar-layout, .column-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow: hidden;
}

.column-container {
	align-items: center;
}

.sidebar-layout {
	display: grid;
	grid-template-columns: 16rem auto ;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: var(--foreground);
	padding: var(--global-content-padding);
	overflow-y: auto;
}

.sidebar-item-selected, 
.sidebar a:hover {
	padding: 0.5rem 1rem !important;
	background-color: var(--background);
}

.sidebar > b {
	margin: 1rem 0;
}

.sidebar > a {
	text-decoration: none !important;
	color: var(--text) !important;
	box-sizing: border-box !important;
	border-radius: var(--global-border-radius) !important;
	padding: 0.5rem 0;
	transition: all ease-in-out 0.150s;
	user-select: none;
}

.sidebar > a.selected {
	background-color: var(--background);
}

.sidebar-layout > div:nth-child(2) {
	padding: var(--global-content-padding);
}

.nav {
	display: flex;
	background-color: var(--foreground);
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 2.5rem;
	max-height: fit-content;
	gap: var(--global-content-padding);
	padding: var(--global-content-padding) 0;
}

.nav::before, .nav::after {
	content: '';
	min-width: var(--global-content-padding);
}

.full-vertical-center {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100%;
	align-items: center;
}

.scrollable-horizontal {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow-x: scroll;
	align-items: center;
}

/* === END LAYOUTS === */

/* === BEGIN HELPER STYLES === */

.article-wide {
	max-width: var(--article-max-width) !important;
	width: 100%;
}

.no-highlight, .no-highlight:link, .no-highlight:visited, 
.no-highlight:hover, .no-highlight:active {
	text-decoration: none;
	color: var(--text);
}

body {
	color: var(--text);
	padding: 0;
	margin: 0;
	background-color: var(--background);
	font-family: var(--regular-font-family);
}

.vertical-form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.elevated {
	-webkit-box-shadow: var(--elevated-shadow);
	-moz-box-shadow: var(--elevated-shadow);
	box-shadow: var(--elevated-shadow);
}

.gaps {
	gap: var(--global-content-padding);
	overflow-x: auto;
	overflow-y: hidden;
}

/* === END HELPER STYLES === */

/* === BEGIN COMMON UI ELEMENTS === */

.date-text {
	display: flex;
	color: var(--secondary);
	gap: var(--global-content-padding);
	margin: var(--global-content-padding);
}

.chip {
	background-color: var(--accent);
	height: fit-content;
	padding: calc(var(--global-content-padding) / 2);
	margin: calc(var(--global-content-padding) / 2);
	border-radius: var(--global-border-radius);
}

.chip:first-child {
	margin-left: 0;
}

textarea {
	background-color: var(--background);
	border: 1px solid var(--secondary);
	outline: none;
	border-radius: var(--global-border-radius);
	padding: var(--global-content-padding);
	color: var(--text);
	transition: all 0.250s ease-in-out;
}

textarea:focus {
	border: 1px solid var(--primary);
	outline: none;
	box-shadow: var(--elevated-shadow);
}

.multiple-choice-container, .multiple-choice-container > label {
	width: fit-content;
	display: flex;
	flex-direction: row;
	gap: calc(var(--global-content-padding) * 0.35);
	padding: calc(var(--global-content-padding) * 0.35);
	border: solid var(--primary) 1px;
}

.multiple-choice-container {
	background-color: var(--background);
	border-radius: 1rem;
}

.multiple-choice-container > label {
	border-radius: calc(1rem - var(--global-content-padding) * 0.35);
}

.multiple-choice-container > label {
	background-color: var(--foreground);
	user-select: none;
	padding: 0.2rem var(--global-content-padding);
	transition: all 0.250s ease-in-out;
}

.multiple-choice-container > label:has(> input:checked) {
	background-color: var(--primary);
	color: var(--text-on-primary);
	/* box-shadow: var(--elevated-shadow); */
}

.multiple-choice-container > label > input {
	display: none;
}

.login-panel {
	width: 25rem;
	max-width: 50vw;
}

.subtle-text {
	margin: 0;
	font-size: 0.85rem;
}

input, button, select {
	display: block;
	padding: 0.75rem;
	border-radius: 8px;
	border: none;
	font-size: 1rem;
}

.button-not-safe {
	background-color: var(--not-safe);
}

input[type="text"] {
	transition: all 0.250s ease-in-out;
	outline: none;
}

input[type="text"]:focus {
	border: 1px solid var(--primary);
}

input, select {
	border: 1px solid var(--secondary);
	background-color: var(--foreground);
	color: var(--text);
}


input::placeholder {
	color: var(--placeholder);
}

input[type=submit], button {
	background-color: var(--primary);
	color: var(--text-on-primary);
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	border: none !important;
}

input[type=submit]:hover, button:hover {
	-webkit-box-shadow: var(--elevated-shadow);
	-moz-box-shadow: var(--elevated-shadow);
	box-shadow: var(--elevated-shadow);
}

input[type="checkbox"] {
	accent-color: var(--accent);
}

input[type="checkbox"] + label {
	user-select: none;
}

a, a:link, a:visited, a:active {
	color: var(--accent);
}

::selection {
	background-color: var(--accent);
	color: var(--text);
}

.panel {
	display: block;
	color: var(--text);
	background-color: var(--foreground);
	border: solid 1px var(--secondary);
	border-radius: var(--global-border-radius);
	padding: var(--global-content-padding);
	text-decoration: none;
}

.warning-text {
	color: var(--invalid-primary);
}
/* === END COMMON UI ELEMENTS === */
