/* ===== ARTICLES ===== */
.item-container {
	position: relative;
	margin: var(--global-content-padding);
}

.vertical-container {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 52rem;
	display: flex;
	flex-direction: column;
}

.row-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gaps {
	gap: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.5rem 0;
}

.vertical-container > b {
	margin-bottom: 1rem;
}

.scrollable-list {
	flex-grow: 1;
	overflow-y: auto;
}
 
.articles-list-preview {
	height: fit-content;
}

.articles-list-preview > div {
	margin-top: var(--global-content-padding);
}

.articles-list-preview > div > * {
	color: var(--text) !important;
	margin: 0;
}

.articles-list-preview > div .category {
	color: var(--primary);
}

/* ==== CATEGORIES ==== */

.category-item {
	margin-bottom: var(--global-content-padding);
}

.category-item * {
	margin-top: 0;
	margin-bottom: 0;
}

.category-item > .flow-right {
	margin-left: auto;
	gap: var(--global-content-padding);
}

/* ====== MEDIA ======= */

.media-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: var(--global-content-padding);
}

.media-grid > div {
	position: relative;
	flex-basis: 0;
	flex-grow: 1;
	min-width: 25%;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.media-grid > div > .media-bottom-bar {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	margin-right: auto;
	padding: var(--global-content-padding);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.media-grid > div:hover > .media-bottom-bar .filename {
	display: none;
}

.media-grid > div > .media-bottom-bar a {
	display: none;
	color: var(--not-safe);
}

.media-grid > div:hover > .media-bottom-bar a {
	display: block;
}

@media (prefers-color-scheme: light) {
	.media-grid > div:after {
		background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.79) 0%, rgba(255, 255, 255, 0.79) 26%, rgba(255, 255, 255, 0) 69%);
		background: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0.79) 0%, rgba(255, 255, 255, 0.79) 26%, rgba(255, 255, 255, 0) 69%);
		background: linear-gradient(0deg,rgba(255, 255, 255, 0.79) 0%, rgba(255, 255, 255, 0.79) 26%, rgba(255, 255, 255, 0) 69%);
		filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr="#000000",
		endColorstr="#000000",
		GradientType=0
		);
	}
}

@media (prefers-color-scheme: dark) {
	.media-grid > div:after {
		background: -webkit-linear-gradient(0deg,rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0.56) 26%, rgba(0, 0, 0, 0) 69%);
		background: -moz-linear-gradient(0deg,rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0.56) 26%, rgba(0, 0, 0, 0) 69%);
		background: linear-gradient(0deg,rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0.56) 26%, rgba(0, 0, 0, 0) 69%);
		filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr="#000000",
		endColorstr="#000000",
		GradientType=0
		);
	}
}

.media-grid > div:after {
	content:'';
	position:absolute;
	left:0; top:0;
	width:100%; height:100%;
	display:inline-block;
	z-index: 1;
	border-radius: var(--global-border-radius);
}

.media-grid > div > img {
	width: 100%;
	height: 100%;
	border-radius: var(--global-border-radius);
	object-fit: cover;
}

/* ====== COMMON ====== */

button {
	margin: var(--global-content-padding) 0;
}
