/* ===== ARTICLES ===== */
.item-container {
	position: relative;
	margin: var(--global-content-padding);
}

.vertical-container {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 52rem;
	display: flex;
	flex-direction: column;
}

.row-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gaps {
	gap: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.5rem 0;
}

.vertical-container > b {
	margin-bottom: 1rem;
}

.scrollable-list {
	flex-grow: 1;
	overflow-y: auto;
}
 
.articles-list-preview {
	height: fit-content;
}

.articles-list-preview > a {
	cursor: pointer;
	margin-top: var(--global-content-padding);
}

.articles-list-preview > a > * {
	color: var(--text) !important;
	margin: 0;
}

.articles-list-preview > a .category {
	color: var(--primary);
}

/* ==== CATEGORIES ==== */

.category-item {
	margin-bottom: var(--global-content-padding);
}

.category-item * {
	margin-top: 0;
	margin-bottom: 0;
}

.category-item > .flow-right {
	margin-left: auto;
	gap: var(--global-content-padding);
}

/* ====== COMMON ====== */

button {
	margin: var(--global-content-padding) 0;
}
