@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--header-font-family: "DM Serif Display", serif;
	--regular-font-family: "Inter", sans-serif;
	--monospace-font-family: "JetBrains Mono", monospace;
	--article-max-width: 40rem;
	--elevated-shadow: 0px 8px 16px 0px var(--shadow);
	--global-content-padding: 0.75rem;
	--global-border-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #1a241a;
		--placeholder: #aaa4aa;
		--text-on-primary: #ffffff;
		--background: #f0f5f0;
		--foreground: #ffffff;
		--primary: #3e7d52;
		--secondary: #6aa77b;
		--accent: #d9a066;
		--shadow: #1a241a33;
		--valid-primary: #cce7d3;
		--valid-secondary: #3e7d52;
		--invalid-primary: #f4d6d1;
		--invalid-secondary: #a14f45;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #e3f0e3;
		--placeholder: #aaa4aa;
		--text-on-primary: #1a241a;
		--background: #101610;
		--foreground: #243124;
		--primary: #5fb073;
		--secondary: #85b18c;
		--accent: #d9a066;
		--shadow: #00000055;
		--valid-primary: #3e7d52;
		--valid-secondary: #cce7d3;
		--invalid-primary: #a14f45;
		--invalid-secondary: #f4d6d1;
	}
}

/* === BEGIN ARTICLE DEFAULT STYLE === */

article p {
	font-family: var(--regular-font-family) !important;
	font-optical-sizing: auto;
}

article h1,
article h2,
article h3, 
article h4,
article h5,
article h6 {
	font-family: var(--header-font-family) !important;
	font-weight: 400;
	font-style: normal;
}

article h1 {
	font-size: 3.4375rem;
	width: 100%;
	text-align: center;
}
article h2 {
	font-size: 2.75rem;
}
article h3 {
	font-size: 2.18rem;
}
article h4 {
	font-size: 1.75rem;
}
article h5 {
	font-size: 1.4375rem;
}
article h6 {
	font-size: 1.125rem;
}

article {
	max-width: var(--article-max-width);
	width: var(--article-max-width);
}

article * {
	max-width: var(--article-max-width);
	word-wrap: break-word;
}

article p {
	width: 100%;
}

article code {
	font-family: var(--monospace-font-family) !important;
}

.article-quote::before {
	content: "";
	position: absolute;
	height: 100%;
	background-color: #3b3b3b;
	top: 0;
	left: 0;
	width: 0.5rem;
}

.article-quote {
	position: relative;
	font-family: var(--regular-font-family);
	font-style: italic;
	background-color: #d9dadb;
	color: #3b3b3b;
	width: fit-content;
	max-width: 100%;
	padding: 1rem;
	padding-left: 2rem !important;
}

/* === END ARTICLE DEFAULT STYLE === */

/* === BEGIN LAYOUTS === */

.page-content, .sidebar-layout, .column-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow: hidden;
}

.column-container {
	align-items: center;
}

.sidebar-layout {
	display: grid;
	grid-template-columns: 16rem auto ;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: var(--foreground);
	padding: var(--global-content-padding);
	overflow-y: auto;
}

.sidebar-item-selected, 
.sidebar a:hover {
	padding: 0.5rem 1rem !important;
	background-color: var(--background);
}

.sidebar > b {
	margin: 1rem 0;
}

.sidebar > a {
	text-decoration: none !important;
	color: var(--text) !important;
	box-sizing: border-box !important;
	border-radius: var(--global-border-radius) !important;
	padding: 0.5rem 0;
	transition: all ease-in-out 0.150s;
	user-select: none;
}

.sidebar > a.selected {
	background-color: var(--background);
}

.sidebar-layout > div:nth-child(2) {
	padding: var(--global-content-padding);
}

.nav {
	position: sticky;
	display: flex;
	background-color: var(--foreground);
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 2.5rem;
	max-height: fit-content;
	gap: var(--global-content-padding);
	padding: var(--global-content-padding) 0;
}

.nav::before, .nav::after {
	content: '';
	min-width: var(--global-content-padding);
}

.full-vertical-center {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100%;
	align-items: center;
}

/* === END LAYOUTS === */

/* === BEGIN HELPER STYLES === */

body {
	color: var(--text);
	padding: 0;
	margin: 0;
	background-color: var(--background);
	font-family: var(--regular-font-family);
}

.vertical-form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.elevated {
	-webkit-box-shadow: var(--elevated-shadow);
	-moz-box-shadow: var(--elevated-shadow);
	box-shadow: var(--elevated-shadow);
}

.gaps {
	gap: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.5rem 0;
}

/* === END HELPER STYLES === */

/* === BEGIN COMMON UI ELEMENTS === */

textarea {
	background-color: var(--background);
	border: 1px solid var(--secondary);
	outline: none;
	border-radius: var(--global-border-radius);
	padding: var(--global-content-padding);
	color: var(--text);
	transition: all 0.250s ease-in-out;
}

textarea:focus {
	border: 1px solid var(--primary);
	outline: none;
	box-shadow: var(--elevated-shadow);
}

.multiple-choice-container, .multiple-choice-container > label {
	width: fit-content;
	display: flex;
	flex-direction: row;
	gap: calc(var(--global-content-padding) * 0.35);
	padding: calc(var(--global-content-padding) * 0.35);
	border: solid var(--primary) 1px;
}

.multiple-choice-container {
	background-color: var(--background);
	border-radius: 1rem;
}

.multiple-choice-container > label {
	border-radius: calc(1rem - var(--global-content-padding) * 0.35);
}

.multiple-choice-container > label {
	background-color: var(--foreground);
	user-select: none;
	padding: 0.2rem var(--global-content-padding);
	transition: all 0.250s ease-in-out;
}

.multiple-choice-container > label:has(> input:checked) {
	background-color: var(--primary);
	color: var(--text-on-primary);
	/* box-shadow: var(--elevated-shadow); */
}

.multiple-choice-container > label > input {
	display: none;
}

.login-panel {
	width: 25rem;
	max-width: 50vw;
}

.subtle-text {
	margin: 0;
	font-size: 0.85rem;
}

input, button, select {
	display: block;
	padding: 0.75rem;
	border-radius: 8px;
	border: none;
	font-size: 1rem;
}

input[type="text"] {
	transition: all 0.250s ease-in-out;
	outline: none;
}

input[type="text"]:focus {
	border: 1px solid var(--primary);
}

input, select {
	border: 1px solid var(--secondary);
	background-color: var(--foreground);
	color: var(--text);
}


input::placeholder {
	color: var(--placeholder);
}

input[type=submit], button {
	background-color: var(--primary);
	color: var(--text-on-primary);
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	border: none !important;
}

input[type=submit]:hover, button:hover {
	-webkit-box-shadow: var(--elevated-shadow);
	-moz-box-shadow: var(--elevated-shadow);
	box-shadow: var(--elevated-shadow);
}

input[type="checkbox"] {
	accent-color: var(--accent);
}

input[type="checkbox"] + label {
	user-select: none;
}

a, a:link, a:visited, a:active {
	color: var(--accent);
}

::selection {
	background-color: var(--accent);
	color: var(--text);
}


/* === END COMMON UI ELEMENTS === */
