.item-container {
	position: relative;
	margin: var(--global-content-padding);
}

.vertical-container {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 52rem;
	display: flex;
	flex-direction: column;
}

.row-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gaps {
	gap: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.5rem 0;
}

.vertical-container > b {
	margin-bottom: 1rem;
}

.scrollable-list {
	flex-grow: 1;
	overflow-y: auto;
}
 
.articles-list-preview {
	height: fit-content;
}

.articles-list-preview > div {
	background-color: var(--foreground);
	border: solid 1px var(--secondary);
	border-radius: var(--global-border-radius);
	margin-top: var(--global-content-padding);
	padding: var(--global-content-padding);
}

.articles-list-preview > div {
	cursor: pointer;
}

.articles-list-preview > div > * {
	margin: 0;
}

.articles-list-preview > div .category {
	color: var(--primary);
}
